@media screen and (max-width:576px) {
    .nav-bar{
        margin: 20px 30px ;
    }
    .nav-left-content{
        font-size: 45px;
    }
    .nav-list{
        display: none;
    }
    .hambar{
        display: block;
        font-size: 30px;
        color: white;
        /* margin-left: 280px; */
        margin-top: 12px;
        margin-left: 160px;
    }
    .banner{
        flex-direction: column;
        margin: 10px 0 0 0;

    }
    .banner-left-content{
        margin: 30px 0 0 30px;
    }
    .banner-right-content{
        width: 100%;

    }
    .habit{
        width: 80%;
        margin: 10px auto;
    }
    .habit-content{
        flex-direction: column;
        gap: 40px;
    }
    .ex{
        width: auto;
        height: auto;
    }
    .run{
        flex-direction: column;
        width: 100%;
        margin: 30px 3px 0 3px;
    }
    .run-content{
        width: auto;
    }
    #run-content-btn{
        align-content: center;
    }
    .run-image{
        width: auto;
    }

    .BMI-header{
        margin: 40px auto;
        margin-left: 6%;
    }
    .BMI-calculation{
        flex-direction: column;
    }
    .chart{
        width: auto;
        margin-right: 30%;
    }
    .bmi-table{
        margin: 20px auto;
    }
    .calculator{
        width: auto;
        margin-left: 6%;
    }
    .BMI-input-pre{
        padding: 4px 8px;
    }
    #Gender{
        width: 47%;
    }
    #Activity{
        width: 95%;
        margin-top: 4px;
    }
    #Calculate-btn{
        margin-top: 20px;
    }

    .team{
        margin: 2rem 3%;
    }
    .team-card{
        grid-template-columns: repeat( 1 , 1fr);
        margin: 2rem 1rem;
    }
    .team-member{
        height: auto;
        width: 100%;
    }
    .Intro > h4{
        font-size: 14px;
    }
    .Intro > p{
        font-size: 11px;
    }

    .conclusion , .content-sec{
        flex-direction: column;
    }
    .content-pre , .content-sec {
        width: auto;
    }
    .content-sec-1 , .content-sec-2{
        margin-top: 10px;
    }
}