@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* common CSS  */

.display-flex{
    display: flex;
}
.btn-primary{
    background-color: rgb(230, 83, 60);
    font-family: Inter;
    color: rgb(255, 255, 255);
    border-color: transparent;
}
body{
    background-color: rgb(0, 0, 0);
}
.title-description-font{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 11.5px;
    font-weight: 400;
    line-height: 20px;
}
.habit-item-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    margin-top: 7px;
}
.h2-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 34px;
    font-weight: 700;
}
.habit-title-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 11px;
    font-weight: 300;
    margin-top: 5px; 
}
.bmi-container-title-font{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 800;
}
header{
    background: linear-gradient( 180deg , rgb(17, 17, 17,0.9),rgba(119, 119, 119, 0) 100%);
}

/* nav bar css  */

.nav-left-content{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
}
#nav-btn{
    border-radius: 17px;
    padding: 7px 19px;
    /* margin-top: 4.4px */
}
.nav-home{
    margin: auto 0;
}
.nav-list{
    list-style: none;
    gap: 30px;
    border: 1px solid rgba(255, 255, 255, 0.19);
    border-radius: 30px;
}
.nav-bar{
    justify-content: space-between;
    margin: 0 14%;
    margin-top: 48px;
}
.nav-sub-list{
    align-items: center;
    gap: 18px;
    margin-right: 15px;
}
.nav-sub-list > li{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 350;

}
.hambar{
    display: none;
}

/* banner releted css  */

.banner{
    margin: 0 14%;
}
.banner-left-content{
    justify-content: center;
    align-content: center;
}
#shape{
    font-family:'Dancing Script', cursive;
    font-weight: 300;
    font-size: 60px;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 50px;
    letter-spacing: 0%;
    margin-bottom: 25px;
    font-weight: 700;
}
.banner-description{
    font-size: 14px;
}
.banner-right-content{
    justify-content: center;
    align-content: center;
}
.banner-image{
    height: 70%;
    margin-left: 50px;
}
.banner-image > img {
    height: 100%;
}
.banner-btn{
    margin-top: 30px;
}
#banner-btn-primary{ 
    padding: 8px 35px;
    border-radius: 20px;
}
#banner-btn-secondary{
    padding: 8px 30px;
    border-radius: 20px;
    background-color: transparent;
    border-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

.VT{
    border: 1px solid black;
    width: 30%;
    padding: 18px 8px;
    transform: translate(6px , -140px);
    background-color: rgba(255, 255, 255, 0.174);
    border-radius: 10px;
    border-color: transparent;
    gap: 6px;
}
.vt-title{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
.vt-sub-title{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
}
.circle{
    height: 30px;
    width: 30px;
    border: 1px solid rgb(230, 83, 60);
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    margin-top: 4px;
}
.wt{
    width: 30%;
    padding: 18px 8px;
    transform: translate(190% , 230px);
    background-color: rgba(255, 255, 255, 0.174);
    border-radius: 10px;
    border-color: transparent;
}
.wt-title{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
.wt-sub-title{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
}

/* habit images and content section  */

.habit{
    margin: 0 170px ;
    color: white;
    text-align: center;
    align-content: center;
}

.habit-description{
    margin-top: 17px;
}
.habit-item{
    text-align: center;
}
.habit-content{
    margin-top: 30px;
    justify-content: center;
    gap: 10px;
}
.ex{
    height: 122px;
    width: 130px;
    margin: 0 auto;
}
.ex > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.4);
}

/* runner content and image section  */

.run{
    border: 1px solid black;
    margin: 10px 14%;
    gap: 30px;
    align-items: center;
    margin-top: 80px;
    background-color: rgb(34, 34, 34);
    border-radius: 13px;
}
.run-content{
    width: 45%;
    margin-left: 30px;
}
.run-content-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 37px;
    font-weight: 700;

}
.run-content-description{
    margin-top: 13px;
}
.run-image{
    width: 240px;
    height: 280px;
    width: 45%;
    padding: 15px;
}
#run-content-btn{
    margin-top: 18px;
    width: 170px;
    padding: 8px 30px;
    border-radius: 20px;
}
.run-image > img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
/* bmi header section css  */

.bmi-header{
    text-align: center;
    margin: 4% auto;
}
.bmi-header p{
    margin-top: 13px;
    line-height: 1rem;
}

/* bmi container releted css  */

.bmi-header-title{
    margin: 1rem 0;
}

.bmi-container{
    margin: 1.5rem 0;
    justify-content: space-around;
    gap: 1.5rem;
    background-color: rgb(34, 34, 34); 
}
.bmi-chart{
    margin: 2rem 0;
    margin-left: 7%;
    
}
.bmi-chart p , h3{
    text-align: left;
}
.bmi-table{
    border-collapse: collapse;
    margin-top: 1rem;
}
td , th{
    border: 1px solid white;
    padding: 10px 1.5rem;
}
th{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
}
.bmi-form-container{
    text-align: left;
    margin: 2rem 0;
    margin-right: 7%;
}
.bmi-form{
    display: grid;
    grid-template-columns: repeat(2 , 180px);
    gap: 9px;
    margin: 2rem 0;
}
.bmi-form input{
    padding: 4px 7px;
    border-radius: 4px;
    border-color: transparent;
    background-color: rgb(57, 57, 57);
}
#activity{
    grid-column: 1/span 2;
}
#gender , #activity{
    padding: 4px 7px;
    border-radius: 4px;
    background-color: rgb(57, 57, 57);
    color: rgba(255, 255, 255, 0.3);
    border-color: transparent;
}

/* team container css  */

.team-header p{
    margin-top: 11px;
}
.team-header{
    margin: 2rem 30%;
}
.team-member-container{
    margin: 2rem 14%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-content: center;
    justify-items: center;
    background-color: rgb(26, 26, 26);
    border-radius: 7px;
}
.team-member{
    width: 270px;
    height: 240px;
    margin: 1rem auto;
    
}
.team-member img{
    width: 100%;
    height: 100%;
    border-radius: 8px;

}
.team-member-intro{
    position: relative;
    left: 10px;
    bottom: 3rem;
}
.team-member-intro h4{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
}
.team-member-intro p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
}
/* plan releted css  */

.plan-explanation{
    margin: 3rem 14%;
    text-align: center;
    color: white;
}
.plan-explanation p {
    line-height: 1.2rem;
    margin: 1.2rem 10%;
}
.plan{
    margin: 4rem 14%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem;
}
.plan-card{
    background-image: url(./images/card-bg.jpg), linear-gradient(to bottom , rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(255, 255, 255 , 0.5) ;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4px 7px;
    transition: transform 0.2s;
}
.plan-card:hover{
    transform: scale(1.1) translateY(-10px);
}
.plan-card-title{
    margin-top: 15px;
    color: rgb(255, 255, 255 , 0.8);
    font-family: Inter;
    font-size: 22x;
    font-weight: 700;
}
.plan-card-content{
    text-align: left;
    margin: 7px 3rem;
    margin-top: 1.5rem;
}
.plan-card-content h5{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.3rem;
}
.plan-card h3{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    margin: 12px auto;
    margin-top: 1.2rem;
}
#rate{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
}
.plan-btn{
    color: rgba(255, 255, 255 , 0.8);
    margin: 1rem 2.3rem;
    padding: 8px 1.3rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255 , 0.5) ;
    border-radius: 10px;
}
.plan-btn:hover{
    background-color: rgb(230, 83, 60);
}
/* footer section css  */

footer{
    border: 1px solid rgb(26, 26, 26) ;
    margin-top: 10%;
    background-color: rgb(26, 26, 26);
}
.conclusion{
    margin: auto 14%;
    justify-content: space-around;
    margin-top: 8%;
}
.content-pre , .content-sec {
    width: 40%;
}
.content-pre > h1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
}
.content-pre > p{
    margin-top: 14px;
}
.content-sec-1, .content-sec-2{
    list-style: none;
    line-height: 1.8rem;
}
.content-sec-title{
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
}
.content-sec-1 > li{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 350;
}
.content-sec-2 > li{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 350;
}
.content-sec{
    gap: 20%;
}
hr{
    margin: 6% 14% 0 14%;
    opacity: 0.2;
}
#reserved{ 
    color: rgba(255, 255, 255, 0.3);
    font-family: Inter;
    font-size: 14px;
    font-weight: 350;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 2rem auto;
}
@media screen and (max-width:576px) {
    .nav-bar{
        margin: 20px 30px ;
    }
    .nav-left-content{
        font-size: 45px;
    }
    .nav-list{
        display: none;
    }
    .hambar{
        display: block;
        font-size: 30px;
        color: white;
        margin-top: 12px;
        margin-left: 140px;
    }

/* header banner  Section Responsive css */

    .banner{
        flex-direction: column;
        margin: 10px 0 0 0;
    }
    .banner-left-content{
        margin: 30px 0 0 30px;
    }
    .banner-right-content{
        width: 100%;
    }

/* chose Habit Section Responsive css */

    .habit{
        width: 80%;
        margin: 10px auto;
    }
    .habit-content{
        flex-direction: column;
        gap: 40px;
    }
    .ex{
        width: auto;
        height: auto;
    }

/* run Section Responsive css */

    .run{
        flex-direction: column;
        width: 100%;
        margin: 30px 2px 0 2px;
    }
    .run-content{
        width: auto;
    }
    #run-content-btn{
        align-content: center;
    }
    .run-image{
        width: auto;
    }
    .bmi-header{
        text-align: left;
        width: auto;
    }
    
 /* bmi container releted responsive css  */

    .bmi-container{
        flex-direction: column;
    }
    .bmi-form-container{
        margin: 5px 1.2rem;
    }
    .bmi-header-title{
        margin: 10px 1rem;
    }
 /* team member releted responsive css  */

    .team-member-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-header{
        margin: 1rem 10%;
    }
 /* plan releted responsive css  */

    .plan{
        grid-template-columns: repeat(1 , 1fr);
    }
    .plan-explanation p{
        margin: 1.2rem auto;
    }

 /* footer releted responsive css  */

    .conclusion , .content-sec{
        flex-direction: column;
    }
    .content-pre , .content-sec {
        width: auto;
    }
    .content-sec-1 , .content-sec-2{
        margin-top: 10px;
    }
}