@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* common CSS  */
.display-flex{
    display: flex;
}
.displays{
    display: none;
}
.btn-primary{
    background-color: rgb(230, 83, 60);
    font-family: Inter;
    color: rgb(255, 255, 255);
    border-color: transparent;
}
body{
    background-color: rgb(0, 0, 0);
}
.title-description-font{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 11.5px;
    font-weight: 400;
    line-height: 20px;
}
.habit-item-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    margin-top: 7px;
}
.habit-title-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 11px;
    font-weight: 300;
    margin-top: 5px; 
}
.calculate-title-font{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 800;
}
header{
    background: linear-gradient( 180deg , rgb(17, 17, 17,0.9),rgba(119, 119, 119, 0) 100%);
}
/* nav bar css  */
.nav-left-content{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
}
#nav-btn{
    border-radius: 17px;
    padding: 7px 19px;
    /* margin-top: 4.4px */
}
.nav-home{
    margin: auto 0;
}
.nav-list{
    list-style: none;
    gap: 30px;
    border: 1px solid rgba(255, 255, 255, 0.19);
    border-radius: 30px;
}
.nav-bar{
    justify-content: space-between;
    margin: 0 14%;
    margin-top: 48px;
}
.nav-sub-list{
    align-items: center;
    gap: 18px;
    margin-right: 15px;
}
.nav-sub-list > li{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 350;

}
.hambar{
    display: none;
}

/* banner releted css  */
.banner{
    /* border: 1px solid black; */
    margin: 0 14%;
}
.banner-left-content{
    /* border: 1px solid red; */
    justify-content: center;
    align-content: center;
    /* margin-bottom: 60px; */
}
#shape{
    font-family:'Dancing Script', cursive;
    font-weight: 300;
    font-size: 60px;

}
.banner-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 50px;
    letter-spacing: 0%;
    margin-bottom: 25px;
    font-weight: 700;
}
.banner-description{
    font-size: 14px;
}

.banner-right-content{
    /* border: 1px solid hotpink; */
    justify-content: center;
    align-content: center;
    /* margin-bottom: 60px; */
}
.banner-image{
    /* border: 1px solid greenyellow; */
    height: 70%;
    margin-left: 50px;
}
.banner-image > img {
    height: 100%;
}
.banner-btn{
    margin-top: 30px;
}
#banner-btn-primary{ 
    padding: 8px 35px;
    border-radius: 20px;
}
#banner-btn-secondary{
    padding: 8px 30px;
    border-radius: 20px;
    background-color: transparent;
    border-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

.VT{
    border: 1px solid black;
    width: 30%;
    padding: 18px 8px;
    transform: translate(6px , -140px);
    background-color: rgba(255, 255, 255, 0.174);
    border-radius: 10px;
    border-color: transparent;
    gap: 6px;
}
.vt-title{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
.vt-sub-title{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
}
.circle{
    height: 30px;
    width: 30px;
    border: 1px solid rgb(230, 83, 60);
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    margin-top: 4px;
}
.wt{
    /* border: 1px solid black; */
    width: 30%;
    padding: 18px 8px;
    transform: translate(190% , 230px);
    background-color: rgba(255, 255, 255, 0.174);
    border-radius: 10px;
    border-color: transparent;
}
.wt-title{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

}
.wt-sub-title{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
}

/* habit images and content section  */

.habit{
    margin: 0 170px ;
    /* border: 1px solid red; */
    color: white;
    text-align: center;
    align-content: center;
}
.habit-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 35px;
    font-weight: 700;
}
.habit-description{
    margin-top: 17px;
}
.habit-item{
    /* border: 1px solid greenyellow; */
    text-align: center;
}
.habit-content{
    margin-top: 30px;
    justify-content: center;
    gap: 10px;

}
.ex{
    height: 122px;
    width: 130px;
    margin: 0 auto;
}
.ex > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.4);
}

/* runner content and image section  */

.run{
    border: 1px solid black;
    margin: 10px 14%;
    gap: 30px;
    align-items: center;
    margin-top: 80px;
    background-color: rgb(34, 34, 34);
    border-radius: 13px;
}
.run-content{
    /* border: 1px solid springgreen; */
    width: 45%;
    margin-left: 30px;
}
.run-content-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 37px;
    font-weight: 700;

}
.run-content-description{
    margin-top: 13px;
}
.run-image{
    /* border: 1px solid yellow; */
    width: 240px;
    height: 280px;
    width: 45%;
    padding: 15px;
}
#run-content-btn{
    margin-top: 18px;
    width: 170px;
    padding: 8px 30px;
    border-radius: 20px;
}
.run-image > img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

/* BMI section css  */

.BMI-header{
    /* text-align: center; */
    margin-top: 80px;
    margin-left: 30%;
}
.BMI-header-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 10px;
}
.BMI-calculation{
    /* border: 1px solid black; */
    margin-top: 7%;
    background-color: rgb(34, 34, 34);
    
}
.chart{
    /* border: 1px solid greenyellow; */
    width: 50%;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 10px;
}
.calculator{
    /* border: 1px solid gold; */
    width: 50%;
    margin-top: 26px;
    margin-bottom: 10px;
}
.bmi-table{
    border-collapse: collapse;
    margin-left: 32%;
    margin-top: 30px;
}
td , th{
    border: 1px solid white;
    margin: 10px 20px;
    padding: 10px;
}
th{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
}
.calculator-description{
    margin-top: 10px;
}
.BMI-form{
    margin: 30px auto;
}
.BMI-form > input{
    margin: 3px 0;
}
.BMI-input-pre{
    padding: 6px 12px;
    border-radius: 8px;
    border-color: transparent;
    background-color: rgb(57, 57, 57);
}
/* .BMI-input-sec{
    width: 56%;
    padding: 6px 12px ;
    border-radius: 8px ;
    border-color: transparent;
} */
#Gender{
    width: 30%;
    padding: 6px 12px;
    border-radius: 8px;
    border-color: transparent;
    background-color: rgb(57, 57, 57);
    color: rgba(255, 255, 255, 0.3);
}
#Activity{
    width: 61%;
    padding: 6px 12px ;
    border-radius: 8px ;
    border-color: transparent;
    background-color: rgb(57, 57, 57);
    color: rgba(255, 255, 255, 0.3);
}
#Calculate-btn{
    margin-top: 10px;
    padding: 7px 25px;
    width: 150px;
    border-radius: 15px;
}
/* trainer relted css  */

.team{
    margin: 3.5rem 14%;
    text-align: center;
}
.team-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 800;
}
.team-description{
    margin-top: 15px;
}
.team-card{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    padding: 20px;
    row-gap: 12px;
    column-gap: 12px;
    margin: 4rem 1rem;
    border-radius: 12px;
    background-color: rgb(26, 26, 26);
}
.team-member{
    height: 250px;
    width: 270px;
    position:relative;
}
.team-member > img{
    width: 100%;
    height: 100%;
    border-radius: 13px;
}
.Intro{
    position: absolute;
    left: 6%;
    bottom:7%;
    text-align: left;
    color: white;
}
.Intro > h4{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 13px;
    font-weight: 700;
}
.Intro > p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
}

/* Footer section css  */

footer{
    border: 1px solid rgb(26, 26, 26) ;
    margin-top: 10%;
    background-color: rgb(26, 26, 26);
}
.conclusion{
    margin: auto 14%;
    justify-content: space-around;
    margin-top: 8%;
}
.content-pre , .content-sec {
    width: 40%;
}
.content-pre > h1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
}
.content-pre > p{
    margin-top: 14px;
}
.content-sec-1, .content-sec-2{
    list-style: none;
    line-height: 1.8rem;
}
.content-sec-title{
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
}
.content-sec-1 > li{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 350;
}
.content-sec-2 > li{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 350;
}
.content-sec{
    gap: 20%;
    /* justify-content: space-between; */
}
hr{
    margin: 6% 14% 0 14%;
    opacity: 0.2;
}
#reserved{ 
    color: rgba(255, 255, 255, 0.3);
    font-family: Inter;
    font-size: 14px;
    font-weight: 350;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 2rem auto;

}